@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.color1 {background-color: hsl(0, 0%, 100%);}
.color2 {background-color: hsl(212, 45%, 89%);}
.color3 {background-color: hsl(220, 15%, 55%);}
.color4 {background-color: hsl(218, 44%, 22%);}

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Outfit', sans-serif;
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */

            body {
                margin: auto;
                width: 375px;
                height: 667px;
                display: grid;
                justify-content: center;
                align-content: center;
                text-align: center;
                background-color: hsl(212, 45%, 89%);
            }

            body footer {
                padding: 1rem;
            }

        /* CLASS */

            .card,
            .card-bottom {
                display: flex;
                flex-direction: column;
            }

            .card {
                width: 350px;
                border-radius: 1rem;
                padding: 1rem;
                background-color: hsl(0, 0%, 100%);
                color: hsl(218, 44%, 22%);
            }

            .card img {
                border-radius: .6rem;
            }

            .card-bottom {
                padding: 1rem;
                gap: 1rem;
            }

            .card-bottom p {
                color: hsl(220, 15%, 55%);
                margin: auto;
                width: 90%;
            }

            .attribution {
                font-size: 11px; text-align: center;
            }

            .attribution a {
                text-decoration: none;
                color: hsl(228, 45%, 44%);
            }

        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */

            body {
                margin: auto;
                width: 1440px;
                height: 800px;
            }

        /* CLASS */
        /* ID */

    }